@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <form id="calculation-form" class="clearfix" asp-page="Index" asp-page-handler="CalculateChange">
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="balance-currency-label">£</span>
            </div>
            <input name="yourBalance" type="number" min="0.01"  max="5000000" step="0.01" class="form-control" placeholder="Your Balance" aria-label="Your balance" aria-describedby="balance-currency-label">
        </div>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="cost-currency-label">£</span>
            </div>
            <input name="productPrice" type="number" min="0.01" max="5000000" step="0.01" class="form-control" placeholder="Product Price" aria-label="Product price" aria-describedby="cost-currency-label">
        </div>

        <button type="submit" class="btn btn-primary float-right">Calculate</button>
    </form>

    <div id="response-card" class="w-100 mt-4 card" style="display: none;">
        <div class="card-header"></div>
        <div class="card-body"></div>
    </div>
</div>